body {
    font-family: Arial, sans-serif;
    background: #171717;
    color: #ddd;
}

#top {
    display: flex;
    justify-content: center;
}

.main-container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 2rem;
}

.main-container2 {
    height: 100vh;
    margin-top: 2rem;
}

.all-elements1 {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.3rem;
    font-size: 0.9rem;
}

.all-elements2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.5rem;
}


.stripe {
    position: absolute;
    left: -100px;
    background: #2a2a2a;
    rotate: -45deg;
    transform: skewX(-45deg);
    z-index: -1;
    width: 350px;
}

#stripe1 {
    top: 0;
    height: 70px;
}

#stripe2 {
    top: 110px;
    height: 15px;
}

.tab-label {
    font-size: 1rem;
    margin: 1px;
    padding: 5px;
    width: 8rem;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    transition: linear 250ms;
}

.tab-label:hover, .tab-label:active {
    background: #333;
}

.cols {
    width: 100%;
}

ol {
    margin: 0;
}

.btn {
    background-color: #29919f;
    margin: 0 1rem 3rem;
    width: 90vw;
    border-radius: 8px;
    color: white;
    font-size: 0.9rem;
    padding: 1rem;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        border 1s ease;
    text-align: center;
    text-decoration: none;
    box-shadow: 6px 10px 10px -2px rgba(0,0,0,0.3);
    border: 2px solid #29919f;
}

.btn:nth-of-type(1) {
    margin-top: 4rem;
}

.btn:hover{
    background-color: #000;
    border: solid 2px #ddd;
}

.btn:active {
    transform: scale(0.90);
}

.divider {
    height: 2px;
    width: 85%;
    background: #888;
    margin: 4px;
    transition: background-color 0.25s linear;
    transition-delay: 50ms;
}

.cam-section {
    outline: solid 1px rgba(0, 0, 0, 0.0);
    background-color: #171717;
    padding: 5px 0;
    border-radius: 3px;
    transition: all 0.25s linear;
    transition-delay: 50ms;
    margin: 3px;   
}

.cam-section li {
    transition: all 0.25s linear;
    transition-delay: 50ms;
}

.all-elements1 .cam-section:hover {
    background-color: #111;
    outline: 1px solid rgb(25, 117, 255);
    scale: 1;
}

/* .all-elements1 .cam-section:focus {
    background-color: #111;
    outline: 2px solid rgb(25, 117, 255);
} */

.all-elements1 .cam-left:hover {
    transform-origin: left;
}

.all-elements1 .cam-right:hover {
    transform-origin: right;
}

.cam-race {
    scale: 1.25;
    transform-origin: top;
}

.settings {
    margin-top: 2px;
}

.framed {
    background: black;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #888;
    min-width: 1rem;
    display: inline-block;
    height: 1.2rem;
    transition: all 0.25s linear;
    transition-delay: 50ms;
    padding: 2px 8px;
}

.plus {
    border-radius: 8px 0 0 8px;
    padding: 1px 0;
}

.tab {
    font-size: 1rem;
    margin-bottom: -2px;
    border-bottom:2px solid rgb(25, 117, 255);
    transition: all 0.25s linear;
    text-shadow: 0 3px 7px rgb(25, 117, 255);
}

.white-black {
    min-width: 2rem;
}

.empty {
    min-width: 2rem;
    color: #333;
}

.type, #last-aim {
    width: 10rem;    
}

#save-track{
    padding: 0 10px 3px;
    height: 1.2rem;
}

.pov{
    width: 5rem;
}

.cam-name{
    font-weight: 600;
    font-size: 1.1rem;
}

#footer {
    padding: 1rem;
    max-width: 1400px;
}

h2 {
    font-weight: 200;
    letter-spacing: 0.5rem;
    text-align: center;
}



@media (min-width: 800px) {
    .top-right-divider {
        display: none;
    }

    .cols {
        width: 50%;
    }

    .btn {
        width: 600px;
    }
}

@media (min-width: 1150px) {
    .cols {
        width: 33%;
    }

    .btn {
        width: 800px;
    }

    .all-elements1 .cam-section:hover {
    scale: 1.25;
    }
}