body {
    font-family: Arial, sans-serif;
    background: #171717;
    color: #ddd;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.all-elements {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    line-height: 1.5rem;
}

.cols {
    flex: 1 1 50%;
    min-width: 400px;
}

ol {
    margin: 0;
}

.divider {
    height: 2px;
    width: 85%;
    background: #888;
    margin: 5px;
    transition: background-color 0.25s linear;
    transition-delay: 50ms;
}

.cam-section {
    outline: solid 1px rgba(0, 0, 0, 0.0);
    background-color: #171717;
    width: 92%;
    padding: 10px 0;
    border-radius: 3px;
    transition: all 0.25s linear;
    transition-delay: 50ms;
}

.cam-section li {
    transition: all 0.25s linear;
    transition-delay: 50ms;
}

.cam-section:hover {
    background-color: #111;
    outline: 1px solid rgba(255, 255, 255, 0.2);
}

.cam-section:focus {
    background-color: #111;
    outline: 2px solid rgb(25, 117, 255);
}  

.framed {
    background: black;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #888;
    width: 5rem;
    display: inline-block;
    height: 1.4rem;
    transition: all 0.25s linear;
    transition-delay: 50ms;
}

.yellow-black {
    color: #bbbb00;
}

.red-black {
    color: red;
    font-weight: bold;
}

.white-black {
    width: 4.25rem;
    padding: 0;
}

.empty {
    width: 4.25rem;
    color: #333;
}

.yellow-black-last {
    background: black;
    color: #bbbb00;
}

.white-black:nth-child(1), #last-aim, #save-track {
    width: 7rem;
    padding: 0;
} 

.cam-name{
    font-weight: 200;
    font-size: 1.33rem;
}

#footer {
    padding: 1rem;
}

h2 {
    font-weight: 200;
    letter-spacing: 0.5rem;
    text-align: center;
}

@media (min-width: 831px) {
    .top-right-divider {
        display: none;
    }
}